/*h1{
width:50%;
border-width: 10px;
border-radius: 10px;
margin-left: 30px;
font-size: 40px;
}*/

.Angry{
border:solid aquamarine ;
margin-left: 60px;
border-width: 20px;
background-color: aquamarine;
width: 40%;
margin:50px;
border-radius: 20px;
display:flex;
align-items: center;
justify-content: center;
}

.Mario{
border:solid rgb(186, 248, 14) ;
margin-left: 60px;
border-width: 20px;
background-color: rgb(186, 248, 14);
width: 40%;
margin:50px;
border-radius: 20px;
}
    
.Trex{
border:solid rgb(235, 86, 27) ;
margin-left: 60px;
border-width: 20px;
background-color: rgb(235, 86, 27);
width: 40%;
margin:50px;
border-radius: 20px;
}
        
.Newton{
border:solid rgb(31, 139, 240) ;
margin-left: 60px;
border-width: 20px;
background-color:  rgb(31, 139, 240);
width: 40%;
margin: 50px;
border-radius: 20px;
}
            
.Air{
border:solid rgb(240, 170, 19) ;
margin-left: 60px;
border-width: 20px;
background-color: rgb(240, 170, 19);
width: 40%;
margin:50px ;
border-radius: 20px;
margin-left: 500px;
}

.games{
display: flex;
flex-wrap: wrap;
flex-direction: row;

}

.header .about{
border: solid aqua;
background-color: rgb(155, 247, 8);
border-radius: 100px;
width: 200px;
display:flex;
justify-content: center;
align-items: center;
font-size: 20px;
}

.header{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.header .work{
border: solid aquamarine;
/*display:flex;
align-items: center;
justify-content: center;*/
margin-left: 800px;
width: 300px;



}




















